body {
    margin: 0;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #F6F7F8;
    z-index: -1;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

/* Alles zur navbar oben hier */
.topnav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: fixed;
    height: 89px;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.topnav-text {
    width: 335px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.topnav-login-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
    width: 106px;
    height: 49px;
}

.topnav-help-img {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.topnav-profile-wrap {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 49px;
    height: 49px;
}

.topnav-profile-outer {
    width: 49px;
    height: 49px;
}

.topnav-profile-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    padding: 1px;
    border: 3px solid #2A3647;
    border-radius: 559px;
}

.topnav-profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46.12px;
    height: 46.12px;
}

.topnav-profile-img {
    border-radius: 559px;
}

/* Ende zu navbar oben */